*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container h1{
    margin-bottom: 30px;
}

.form{
    box-shadow: inset;
    margin-bottom: 20px;
    padding: 20px 20px;
    min-height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    border-radius: 10px;
}

.form label{
    font-size: 20px;
    margin-top: 5px;
    float: left;
}

.fields{
    margin: 10px 0;
    padding: 10px 20px;
    width: 90%;
    border-radius: 5px;
    border-style: none;
}

.fields:focus{
    border: 2px solid black;
}

.button{
    margin-top: 10px;
    display: flex;
}

.btn{
    cursor: pointer;
    padding: 10px 85px;
    border-radius: 5px;
    margin: 5px 15px;
    border-style: none;
}

.btn:hover{
    background-color: green;
    transition: ease-in 0.5s;
}

.dept{
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}


/* @media screen and (max-width: 480px) {
    .form{
        width: 100%;
    }

    .fields{
        width: 90%;
    }

    .button{
        width: 90%;
    }
} */

